<!--<button class="examples__side-menu__button"-->
<!--        (click)="onBackToMainPageClickHandler()"-->
<!--&gt;-->
<!--  НА ГЛАВНУЮ-->
<!--</button>-->
<div class="examples__side-menu">
  <div *ngFor="let group of routeTags"
       class="examples__side-menu__item-group"
  >
    <h3>{{group}}</h3>
    <div class="examples__side-menu__item"
         *ngFor="let item of navItems | arrayFilter:filterItemsCallback:group"
         routerLink="{{item.path}}"
         routerLinkActive="active"
    >
      <span>{{item.title}}</span>
    </div>
  </div>
</div>
