.container {
  justify-content: center;
}

.container__header {
  width: 80%;
  margin: 10px 0;
}

.container__buttons {
  width: 50%;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
