<div class="container">
  <app-expand-block [title]="'Пример #1'">
    <div class="info">
      Допустимые значения:<br/>
      <ul [ngStyle]="{margin: '0 25px'}">
        <li>0</li>
        <li>числа, не начинающиеся с 0 (100 / 100.12 /
          <del>011</del>
          )
        </li>
        <li>числа, начинающиеся с 0, но имеющие 0 единственным числом перед дробным разделителем (0.11 / 0.00 / 0.10)
        </li>
      </ul>
      <b>Все числа с плавающей точкой должны иметь не более двух знаков в дробной части</b>
    </div>
    <form>
      <label>
        <input [formControl]="numberCheck"
               name="name"
               placeholder="введите число"
        >
      </label>
    </form>
  </app-expand-block>
</div>
